section h3{
    padding-top: 1em;
}

#headshot {
   width: 20%;
   left: 3em auto;
   border-radius: 25%;
   /* float: left; */
}

.professional-summary {
    flex-wrap: wrap;
}

.aboutMe-title {
    text-align: center;
}

.about-me {
    flex-wrap: wrap;
}

section {
    padding-bottom: 2em;
}