/* Header and slogan */
.name-main {
    margin: 0;
    font-size: 3.75em;
  }
  
  .slogan {
    font-size: 1.5em;
    padding-bottom: 1em;
  }

  header p {
    border-bottom: solid #777 ;

  }

  header {
    border-bottom: solid #777 ;
    border-radius:10%;
    margin-bottom: 2em;
  }






