.aboutMe-section {
    text-align: center;
}

#headShot {
   width: 30%;
   border-radius: 25%;
}

.aboutMe-sub-title {
    border-bottom: solid #777 .25px;
    margin: .5em 0;
}

@media screen and (min-width: 1100px) and (max-width: 2000px) {
    #headshot {
        width: 300px;
    }
}

/* tablets */
@media screen and (max-width: 768px) {
    #headshot {
        width: 65%;
    }
}

  /* mobile */
  @media screen and (max-width: 480px) {

    #headshot {
        width: 86%;
    }
  }