#headShot {
  float: left;
  margin: .5em .5em 0 0;
  width: 50%;
  max-width: 315px;
  border-radius: 10px;
}

.aboutMe-sub-title {
  display: inline-block;
  border-bottom: solid var(--grey) 0.25px;
}

#seeMoreLessButton {
  border: 1px solid;
  border-radius: 10px;
  padding: 0.1em 1em;
  margin-top: 0.5em;
}

#seeMoreLessButton:hover {
  background-color: var(--grey);
  border-radius: 10px;
  padding: 0.1em 1em;
  cursor: pointer;
  text-decoration: underline;
}


/* mobile */
@media screen and (max-width: 426px) {
  .hide {
    display: none;
  }
}
