.contact-me-section {
  text-align: center;
}

.aussieHey {
  font-size: 1.35em;
}

.input {
  text-align: center;
}

.input {
  font-size: 1em;
  margin: 0.5em;
  padding: 0.25em;
  width: 15em;
  background-color: var(--grey);
  color: var(--background);
}

.input::placeholder {
  color: rgb(31, 26, 26);
}

.input:focus {
  outline: rgb(191, 185, 185);
  border: solid 2px var(--lightGrey);
}

/* This removes placeholder in input once clicked */
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  opacity: 0;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
  opacity: 0;
}

.contact-submit-btn {
  font-size: 1.5em;
  text-decoration: none;
  border-style: none;
  background-color: var(--background);
}

.contact-submit-btn:hover {
  cursor: pointer;
  border-radius: 20px;
  padding: 0 2em;
  text-decoration: underline;
  border: solid 1px var(--lightGrey);
  background-color: var(--grey);
  color: var(--lightGrey);
}

.email {
  text-decoration: underline;
  font-size: 1.5em;
  color: var(--lightGrey);
}

.email:hover {
  color: var(--grey);
}

.text-area {
  width: 75%;
  resize: none;
}
