footer {
  margin-top: 2em;
  text-align: center;
  border-top: solid var(--grey);
}

nav ul {
  width: 100%;
  align-items: center;
}

.footer-nav {
  padding: 0 0.5em 0 0.5em;
  font-size: 1.75em;
  text-decoration: none;
}

.footer-nav:hover {
  border-radius: 10px;
  padding: 0 0.5em 0 0.5em;
  background-color: var(--grey);
  color: var(--background);
}

.icon {
  background-color: transparent;
}

/* tablets */
@media screen and (max-width: 820px) {
  .footer-nav-list {
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .footer-nav-list {
    margin: 0 auto;
  }
}

/* mobile */
@media screen and (max-width: 480px) {
  .main-nav {
    text-align: center;
  }

  .footer-nav-list {
    margin: 0 auto;
    font-size: 1em;
  }
}
