/* NavBar */

nav ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
}

.nav {
    padding-top: 2em;
    padding-bottom: 2em;
}


.nav-list {
  list-style: none;
  display: inline-block;
  width: 25%;
}

.nav a {
    font-size: 1.75em;
    text-decoration: none;
  }

  

.nav a:hover {
    background-color: #777;
    color: rgb(31, 26, 26);
    border-radius: 10px;
    text-decoration: underline;
    padding: 0 1.5em 0 1.5em;

  }




  /* tablets */
  @media screen and (max-width: 768px) {

    .main-nav {
      display: flex;
      text-align: center;
    }

    .nav-list {
      width: 50%;
      margin-bottom: 1em;
    }
  }

  /* mobile */
  @media screen and (max-width: 480px) {
    .main-nav {
      text-align: center;
    }

    .nav-list {
      width: 100%;
      margin-bottom: 1em;
      margin: 0 auto 1em;
      font-size: 1em;
    }
  }