/* NavBar */

nav ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
}

.nav {
  padding-top: 2em;
  padding-bottom: 2em;
}

.nav-list {
  list-style: none;
  display: inline-block;
}

.header-nav-list {
  width: 25%;
}

.nav a {
  font-size: 1.75em;
  text-decoration: none;
}

header .nav a:hover {
  background-color: var(--grey);
  color: var(--background);
  border-radius: 10px;
  text-decoration: underline;
  padding: 0 1em 0 1em;
}

/* tablets */
@media screen and (max-width: 820px) {
  .main-nav {
    display: flex;
    text-align: center;
  }

  header .nav-list {
    margin-bottom: 1em;
  }

  .header-nav-list {
    width: 35%;
  }

  .nav a:hover {
    padding: 0 0.5em 0 0.5em;
  }
}

/* mobile */
@media screen and (max-width: 480px) {
  .main-nav {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .nav-list {
    margin: .25em auto .25em;
    font-size: .75em;
  }

  .header-nav-list {
    width: 100%;
  }

  .menu-button {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5em;
    margin: -2em;
  }

  .menu-button:hover {
    background-color: var(--grey);
    color: var(--background);
    border-radius: 10px;
    text-decoration: underline;
    padding: 0 1em 0 1em;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + 0.1em);
    padding: 0.5em;
    margin: .5em;
    background-color: var(--grey);
    color: var(--background);
    border-radius: 0.25em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  }

  .dropdown.active > .menu-button + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}
