.bump-down {
  margin-top: 1em;
}

.portfolio-section {
  text-align: center;
}

.title-adjust {
  font-size: 1.5em;
}

section a {
  text-decoration: underline;
  padding: 0 1em;
  color: var(--lightGrey);
}

section a:hover {
  color: var(--lightGrey);
}
