.resume-section {
    margin: 0;
    padding: 2em;
    background-color:#777 ;
    color: rgb(31,26,26) ;
}

.color-change {
    background-color:#777 ;
    color: rgb(31,26,26) ;
}


.resume-section h3 {
    margin: 0;
    padding: 0;
    border-bottom: solid 1px;
    font-size: 1.5em;
}

.btn-container {
    text-align: center;
}

button a {
    text-decoration: none;
    color: #dcd7d7;
}

.download-btn {
    background-color: rgb(31,26,26);
    padding: .75em 2em;
    border-radius: 15px;
    font-size: 1em;
    text-decoration: none;
}

.download-btn:hover {
    cursor: pointer;
    background-color: #2a2626;
    color: rgb(230, 221, 221);
    text-decoration: underline;
    border: solid .25px rgb(230, 221, 221);
}