.resume-section {
  margin: 0;
  padding: 2em;
  background-color: var(--grey);
  color: var(--background);
}

.color-change {
  background-color: var(--grey);
  color: var(--background);
}

.resume-section h3 {
  margin: 0;
  padding: 0;
  border-bottom: solid 1px;
  font-size: 1.5em;
}

.resume-section h4 {
  font-size: 1.25em;
}

.btn-container {
  text-align: center;
}

button a {
  text-decoration: none;
  color: var(--lightGrey);
}

.download-btn {
  margin: 1em;
  padding: 0.2em 1.25em;
  border-radius: 30px;
  font-size: 1em;
  text-decoration: none;
  border: solid 0.25px var(--background);
  background-color: var(--background);
}

.download-btn:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: #2a2626;
  color: var(--lightGrey);
  border: solid 0.25px var(--lightGrey);
}

.resume-content {
  margin: 1em 0;
}

/* mobile */
@media screen and (max-width: 480px) {
  .download-btn {
    padding: 0.25em 1em;
  }
}
