@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Noto+Serif:ital,wght@1,100&family=Oswald&family=Pixelify+Sans&display=swap');

#root {
  margin: 0 auto;
  padding: 0 2em 0 2em;
}


/* Main css GOOOOD */
* {
  background-color: rgb(31, 26, 26);
  color: rgb(191, 185, 185);
  font-family: 'Noto Serif', serif;
  margin: 0;
}

/* H1,2,3 (title) selectors */
.title {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 2em;

}

.footer-main {
  padding-top: 2em;
}

